<div id="app-booth">

  <div class="voting">
    <h1>[[ voting.id ]] - [[ voting.name ]]</h1>

    <form *ngIf="!singup">
      <label for="inputUsername">Username</label>
      <input #username id="inputUsername" class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword">Password</label>
      <input #password type="password" id="inputPassword" class="form-control" placeholder="Password" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit"
              (click)="onSubmit(username.value, password.value, $event)">
        Sign in
      </button>
    </form>

    <!-- Voting -->
    <div *ngIf="singup">
      <span>loged</span>

      <h2>[[ voting.question.desc ]]</h2>

      <form>
        <div *ngFor = "let option of options;let i=index">

          <label for="option">{{option}}</label><br>
          <input #option type="radio" id={{i}} name="option" value="option">

        </div>
          
        <button class="btn btn-lg btn-primary btn-block" type="submit"
                (click)="onSubmit(option.id, $event)">
          Vote
        </button>
      </form>
  
    </div>
  </div>
</div>
